:root {
  --header-color: #010444;
  --logo-color: #ffffff;
}

body {
  display: flex;
  flex-direction: column;
  //font-family: 'Merriweather', serif;
  font-family: 'Poppins', sans-serif;
}

header {
  display: flex;
  background-color: var(--header-color);
  width: 100%;
  height: auto;
  
  nav.navbar {
    display: flex;
    width: 100%;
    height: 100px;

    .nav-container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 95vw;
      margin: 0 auto;

      .logo-container {
        .logo {
          color: var(--logo-color);
        }
      }

      ul.menubar {
        display: flex;
        flex-direction: row;
      }
    }
  }
}

main {
  display: flex;
  flex-direction: column;

  section {
    display: flex;
    width: 100%;
    height: 100vh;

    &#announcements {
      background-color: #eeeeee;
      height: calc(100vh - 100px);
    }
  }
}